<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Dosis:600,700,800" rel="stylesheet">
      <link
        rel="stylesheet"
        href="prism-atom-dark.css"
        type="text/css"
        media="screen"
      />

      <script type="text/javascript" src="prism.js"></script>
      <script type="text/javascript" src="prism.ruby.js"></script>
  </head>

  <div class="hero">
    <br />
    <div class="frosty col-xs-10 col-xs-offset-1 text-center">
      <br />
      <%= link_to 'https://github.com/jdoleiv' do %>
        <%= image_tag 'me.jpg', class: 'me', title: "Link to github" %>
      <% end %>
      <h1>John A. Dole IV</h1>
      <br />
      <h2>Software Developer</h2>
      <h3>Based in Singapore</h3>
      <%= link_to 'mailto:jdoleiv@gmail.com' do %>
        <%= image_tag 'email.png', class: 'social-button' %>
      <% end %>
      <%= link_to 'http://github.com/jdoleiv' do %>
        <%= image_tag 'github.png', class: 'social-button' %>
      <% end %>
      <%= link_to 'https://twitter.com/jdoleiv?lang=en' do %>
        <%= image_tag 'twitter.png', class: 'social-button' %>
      <% end %>
      <%= link_to 'https://steemit.com/@jdoleiv' do %>
        <%= image_tag 'steemit.jpg', class: 'social-button' %>
      <% end %>
      <br /> <br />
    </div>

    <br class="clr">
    <br class="clr">
    <br class="clr">

    <div class="frosty col-xs-10 col-xs-offset-1">
      <br />
      <h1 align="center">Code Snippets</h1>
      <br />

      <div class="box">
        <h4>Collatz</h4>
          <p>
              This ruby program will puts the Collatz sequence and find the longest Collatz sequence for a given input.
          </p>
      </div>

      <div class="box">
        <pre>
          <code class="language-ruby">
            class Collatz
              attr_reader :cache

              def initialize
                @cache = {}
              end

              def seq(n)
                return @cache[n] if @cache[n]
                key = n
                output = []
                output &lt;&lt; n
                while n != 1 do

                  if n.even?
                    n = n / 2
                  else
                    n = n * 3 + 1
                  end
                  if @cache[n]
                      output &lt;&lt; @cache[n]
                      output.flatten!
                      break
                  end
                  output &lt;&lt; n
                end
                @cache[key] = output
                output
              end


              def longest_collatz(n)
                # this tests each number for length
                longest = 1
                key = 1
                (1...n).each do |a|
                  seq_size = seq(a).size
                  if longest &lt; seq_size
                    longest = seq_size
                    key = a
                  end
                end
                key
              end
            end

            collatz = Collatz.new
            puts collatz.seq(2)
            puts collatz.longest_collatz(12)
          </code>
        </pre>
      </div>
      <br /> <br />

      <div class="box">
        <pre>
          <code class="language-ruby">
            class Integer
              def recursive_fib
                if self == 0
                  0
                elsif self == 1
                  1
                else
                  (self - 2).recursive_fib + (self - 1).recursive_fib
                end        
              end
            end

            puts 35.recursive_fib

            def iterative_fib(n)
              a = 0
              b = 1
              for i in 1..n do
                a, b = b, a + b
              end
              a
            end

            puts iterative_fib(35)

            require 'benchmark'
            num = 35
            Benchmark.bm do |x|
              x.report(&quot;recursive_fib&quot;) { num.recursive_fib }
              x.report(&quot;iterative_fib&quot;)  { iterative_fib(num)  }
            end
          </code>
        </pre>
      </div>

      <div class="box">
        <h4>Fibonacci</h4>
          <p>
            This ruby program will puts both the recursive and iterative Fibonacci sequence, as well as test them for speed.
          </p>
      </div>
    </div>
      

    <br class="clr">
    <br class="clr">
    <br class="clr">
    
    <div class="frosty col-xs-10 col-xs-offset-1">
      <br />
      <h1 align="center">Web Apps</h1>
      <br />

      <div class="box">
        <h4>Quote Generator</h4>
        <%= link_to 'https://splurty-john-dole.herokuapp.com/' do %>
          <%= image_tag "splurty.png", class: 'full-width', title: "JD's Quote Generator" %>
        <% end %>
        <p>
          A database-powered quote generator with a mobile-first
          design, using the Ruby on Rails framework, HTML, and CSS.
          Uses Git and GitHub for version control, and launched
          on Heroku.
        </p>
      </div>

      <div class="box">
        <h4>Yelp Clone</h4>
        <%= link_to 'https://nomster-john-dole.herokuapp.com/' do %>
          <%= image_tag "nomster.png", class: 'full-width', title: "JD's Yelp Clone" %>
        <% end %>
        <p>
          A Yelp clone that integrates with the Google Maps API 
          and includes features like user comments, star ratings,
          image uploading, and user authentication.
        </p>
      </div>

      <br class="clear" />

      <div class="box">
        <h4>Two-Sided Market Place</h4>
        <%= link_to 'https://flixter-john-dole.herokuapp.com/' do %>
          <%= image_tag "flixter.png", class: 'full-width', title: "JD's Flixter App" %>
        <% end %>
        <p>
          A two-sided, video-streaming marketplace platform that
          features credit card payment capabilities, user role
          management, complex user interfaces, and advanced
          database relationships.
        </p>
      </div>

      <div class="box">
        <h4>Test Driven Development</h4>
        <%= link_to 'https://grammable-john-dole.herokuapp.com/' do %>
          <%= image_tag "grammable.png", class: 'full-width', title: "JD's InstagramClone" %>
        <% end %>
        <p>
          An Instagram clone that was built using industry-standard, test-driven
          development following numerous red/green/refactor cycles.
        </p>
      </div>

      <br class="clear" />
      <div class="box">
        <h4>Single Page Todo Application</h4>
        <%= link_to "https://todododo-john-dole.herokuapp.com/" do %>
          <%= image_tag "todoster.png", class: 'full-width', title: "JD's Todo App" %>
        <% end %>
        <p>
          This single-page to-do application features a
          fluid user interface that– by using JavaScript–
          allows users to rapidly add dynamic content.
        </p>
      </div>

      <div class="box">
        <h4>Agile Team Project</h4>
        <%= link_to "https://pawn-stars.herokuapp.com/" do %>
          <%= image_tag "chess.png", class: 'full-width', title: "Agile Team Project" %>
        <% end %>
        <p>
          Worked on an Agile software development team building
          a chess application. Under the guidance of a senior software engineer,
          we had weekly Agile team meetings for code reviews, sprint planning,
          and feature assignments.
        </p>
      </div>
    </div>

    <br class="clr">
    <br class="clr">
    <br class="clr">

    <div class="frosty col-xs-10 col-xs-offset-1">
      <h1 align="center">Skills &amp; Tools</h1>
      <hr class="yellow" />
      <p class="skills-and-tools">
        John is developing proficiency and expertise 
        in the following programming languages and 
        comfort with the following tools.
      </p>

      <div class="icons">
        <div class="frosty2">
          <%= image_tag "rubocop.png", class: "icon" %>
          <%= image_tag "trello.png", class: "icon" %>
          <%= image_tag "gg.png", class: "icon" %>
          <%= image_tag "slack.png", class: "icon" %>
          <%= image_tag "codeship.png", class: "icon" %>
          <%= image_tag "python.png", class: "icon", width: "100", height: "100" %>
          <%= image_tag "r.png", class: "icon", width: "100", height: "100" %>

          <br class="clear" />
          <%= image_tag "skills.png", class: "icon" %>          
        </div>
      </div>
    </div>
  </div>
</html>